html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url("../img/background/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url("../img/cursor/cursor_1.png"), default;
}

.rain {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.drop {
	position: absolute;
	bottom: 100%;
	width: 15px;
	height: 120px;
	pointer-events: none;
	animation: drop 0.5s infinite linear;
}

@keyframes drop {
	0% {
		transform: translateY(0vh);
	}
	75% {
		transform: translateY(100vh);
	}
	100% {
		transform: translateY(100vh);
	}
}

.stem {
	width: 1px;
	height: 100%;
	margin-left: 7px;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
	animation: stem 0.5s infinite linear;
}

@keyframes stem {
	0% {
		opacity: 1;
	}
	65% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.splat {
	width: 15px;
	height: 10px;
	border-top: 2px dotted rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	opacity: 1;
	transform: scale(0);
	animation: splat 0.5s infinite linear;
}

@keyframes splat {
	0% {
		opacity: 1;
		transform: scale(0);
	}
	80% {
		opacity: 1;
		transform: scale(0);
	}
	90% {
		opacity: 0.5;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.5);
	}
}




.roundFirst {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.788);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: round 2s linear forwards;
}

@keyframes round {
    to {
        opacity: 0;
    }
}

.text {
    color: rgb(98, 61, 107);
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    text-shadow: 2px 1px 5px rgb(196, 7, 253);
    padding-left: 20px;
}

.mainPlayer {
    height: 3vh;
    width: 250px;
    position: absolute;
    display: flex;
    /* border: 2px solid black; */
    margin-left: 10px;
}

.mainPlayerlifeRoad {
    position: relative;
    height: 3vh;
    width: 20%;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(153, 0, 255);
    border-radius: 7px;
	border: 2px solid rgb(0, 0, 0);
}
.player {
    position: absolute;
    bottom: 20px;
    left: 60%;
    animation: playerRunning 5s linear alternate infinite;
}

.lifeRoadBorder {
    height: 3vh;
    width: 250px;
    display: flex;
    /* border: 2px solid black; */
}

.lifeRoad {
    height: 3vh;
    width: 20%;
    background-color: rgb(153, 0, 255);
    border: 2px solid rgb(0, 0, 0);
	border-radius: 7px;
}

.fire {
    height: 10vh;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: 0.5s;
    animation: fireball 3s linear infinite;
}

.playerImg {
    height: 50vh;
}

.bloodSplash {
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 30vw;
    opacity: 0;
    animation: 3s bloodSplash 0.05s linear infinite;
}


@keyframes playerRunning {
    to {
        left: 20%;
    }
}

@keyframes fireball {
    75% {
        opacity: 1;
        height: 10vh;
    }
    100% {
        opacity: 1;
        height: 40vh;
    }
}

@keyframes bloodSplash {
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.handsOfMainPlayer {
    position: absolute;
    bottom: 0;
    left: 60%;
    
    animation: playerRunning 5s linear alternate infinite;
}

.one, .two, .tree {
    position: relative;
}

.one span {
    position: absolute;
    top: 20px;
    right: 33px;
    z-index: 2;
    font-weight: 700;
    font-size: 24px;
    color: black;
}
.two span {
    position: absolute;
    top: 140px;
    right: 33px;
    z-index: 2;
    font-weight: 700;
    font-size: 24px;
    color: black;
}
.three span {
	position: absolute;
	top: 350px;
	right: 33px;
	z-index: 2;
	font-weight: 700;
	font-size: 24px;
	color: black;
}

#hands1, #hands3, #hands4 {
    position: fixed;
	height: 10vh;
	width: 8vw;
    right: 20px;
    border: 5px solid rgb(153, 0, 255);
    background-color: rgba(245, 169, 169, 0.623);
    box-shadow: 3px 3px 2px rgb(73, 3, 3);
    border-radius: 20px;
}

#hands1 {
    top: 100px;
}

#hands3 {
    top: 220px;
}
#hands4 {
	top: 340px;
}

#hands1:hover, #hands3:hover, #hands4:hover {
    border: 5px solid rgba(247, 52, 52, 0.808);
    height: 11vh;
}

#hands2 {
    position: fixed;
    bottom: -20px;
    left: 0;
}

@keyframes attack {
    0% {
        transform: skew(0deg);
    }
    50% {
        transform: skew(-5deg,7deg);
    } 
    100% {
        transform: skew(0deg);
    }
}

.back {
    height: 8vh;
    width: 170px;
    font-size: 6vh;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    border: 5px solid rgba(153, 0, 255, 0.808);
    text-shadow: 3px 3px 3px rgb(153, 0, 255);
    box-shadow: 3px 3px 2px rgb(73, 3, 3);
    border-radius: 20px;
    background-color: rgba(245, 169, 169, 0.623);
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: url("../img/cursor/cursor_1.png"), default;
}

.back:hover {
    color: rgb(247, 52, 52);
    text-shadow: 3px 3px 3px rgb(19, 18, 18);
    border: 5px solid rgba(247, 52, 52, 0.808);
}

a {
    color: black;
}

#gameOver {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-image: url("../img/game-over.png");
    background-repeat: no-repeat;
    background-position: center;
}


#lifeImage {
	position: fixed;
	bottom: 0;
	left: 20px;
}

#containerForBonus {
    position: relative;
    top: 0;
    height: 5vh;
    width: 30vw;
    display: inline-block;
    vertical-align: middle;
    left: 35vw;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    text-shadow: 2px 1px 5px rgb(248, 244, 244);
    color: rgb(98, 61, 107);
}

.bonus {
    height: 150px;
    width: 150px;
    font-size: 50px;
    display: inline-block;
    vertical-align: middle;
    position: fixed;
    left: 45vw;
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
    text-shadow: 2px 1px 5px rgb(12, 12, 12);
    color: rgb(98, 61, 107);
    opacity: 1;
}

@keyframes bonusAnime {
    to {opacity: 0;}
}